<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget V2" value="https://www.nuget.org/api/v2/" />
	<add key="Nuget V3" value="https://api.nuget.org/v3/index.json" />
    <add key="Local" value="packages\_local" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>